:root {
  //Colors
  --color-white: hsl(0, 0%, 100%);
  --color-white-80: hsla(0, 0%, 100%, 0.8);
  --color-white-4: hsla(0, 0%, 100%, 0.039);
  --color-black-80: hsla(0, 0%, 0%, 0.8);
  --color-black-60: hsla(0, 0%, 0%, 0.6);
  --color-blur: hsla(0, 0%, 7%, 0.8);
  --color-primary: hsl(216, 56%, 20%);
  --color-primary-blur: hsl(216, 56%, 20%, 0.6);
  --color-primary-s: hsl(212, 57%, 26%);
  --color-stroke: hsl(198, 73, 27, 0.07);
  --color-accent: hsl(359, 75%, 50%);
  --color-accent-s: hsl(7, 100%, 50%);
}
